<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Scan Barcode</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>

    <!-- Bootstrap CSS -->

    <style>
        .result {
            width: 80%;
            margin: 0 auto;
            padding: 20px;
            box-sizing: border-box;
        }


    </style>

</head>
<body>
<div class="container mt-5">
    <div id="informations" style="display: none">
        <p>Product not found</p>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center mt-3">
                <a href="{{ url_for('index') }}" class="btn btn-primary">Accueil</a>
            </div>
            <h1 class="text-center mb-4">Scan Barcode</h1>
            <div class="card">
                <div class="card-body">
                    <div id="reader"></div>
                </div>
            </div>
            <div class="text-center mt-3">
                <button class="btn btn-primary" onclick="scanBarcode()">Scan</button>
            </div>
            <div class="text-center mt-3">
                <label for="manualBarcode"></label><input type="text" id="manualBarcode" placeholder="Enter Barcode">
                <button class="btn btn-primary" onclick="scanManualBarcode()">Scan Manually</button>
            </div>
            <div class="text-center mt-3">
                <button class="btn btn-primary" onclick="addToFridge()">Add to my fridge</button>
            </div>
        </div>
        <div id="result" class="result" style="display: none">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Calories (100/g)</th>
                    <th>Proteins (100/g)</th>
                    <th>Fats (100/g)</th>
                    <th>Carbs (100/g)</th>
                    <th>Sugars (100/g)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td id="name"></td>
                    <td id="quantity"></td>
                    <td id="calories"></td>
                    <td id="proteins"></td>
                    <td id="fats"></td>
                    <td id="carbs"></td>
                    <td id="sugars"></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
</body>
</html>

<!-- Bootstrap Bundle with Popper -->
<script>
    barcode = null;

    function deleteProduct() {
        if (barcode != null) {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/delete-product");
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onload = function () {
                result = JSON.parse(xhr.responseText);
                if (result['status'] === 1) {
                    document.getElementById("result").style.display = "none";
                    document.getElementById("informations").style.display = "block";
                    document.getElementById("informations").innerHTML = "Le produit a bien été supprimé";
                } else {
                    document.getElementById("informations").style.display = "block";
                    document.getElementById("informations").innerHTML = "Le produit n'a pas pu être supprimé. Erreur: " + result['status'];
                }
            }
            xhr.send(JSON.stringify(barcode));
        }
    }


    function onScanSuccess(decodedText, decodedResult) {
        console.log(`Code matched = ${decodedText}`, decodedResult);
        html5QrcodeScanner.clear();

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/scan-barcode');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function () {
            result = JSON.parse(xhr.responseText);
            if (result['status'] === 1) {
                let errorElem = document.getElementById("informations");
                errorElem.style.display = "block";
                errorElem.innerHTML = "Le produit n'as pas été trouvé. Vous pouvez l'ajouter en cliquant sur le lien suivant: <a href='https://fr.openfoodfacts.org/contribuer'>Ajouter un produit</a>";
            } else {
                barcode = result['code'];
                if (result['status'] === 0) {
                    let errorElem = document.getElementById("informations");
                    errorElem.style.display = "block";
                    errorElem.innerHTML = "Le produit est incomplet. Vous pouvez le compléter en cliquant sur le lien suivant: <a href='https://fr.openfoodfacts.org/produit/" + result['code'] + "/'>Compléter un produit</a>" +
                        "<br>Voici ce qu'il manque: <br>" + result['errorMess'];

                }
                console.log(result)
                document.getElementById("name").innerHTML = result['product']['name'];
                document.getElementById("quantity").innerHTML = result['product']['quantity'] + result['product']['measure'];
                document.getElementById("calories").innerHTML = result['product']['calories'];
                document.getElementById("proteins").innerHTML = result['product']['proteins'];
                document.getElementById("fats").innerHTML = result['product']['fats'];
                document.getElementById("carbs").innerHTML = result['product']['carbohydrates'];
                document.getElementById("sugars").innerHTML = result['product']['sugars'];
                document.getElementById("result").style.display = "block";
            }

        }
        xhr.send(JSON.stringify(decodedText));
    }

    function addToFridge() {
        if (barcode != null) {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/add-to-fridge');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onload = function () {
                result = JSON.parse(xhr.responseText);
                if (result['status'] === 1) {
                    document.getElementById("result").style.display = "none";
                    document.getElementById("informations").style.display = "block";
                    document.getElementById("informations").innerHTML = "Le produit a bien été ajouté au frigo";
                }
                else {
                    document.getElementById("informations").style.display = "block";
                    document.getElementById("informations").innerHTML = "Le produit n'a pas pu être ajouté au frigo.";
                }
            }
            xhr.send(JSON.stringify(barcode));

        }
    }

    function scanBarcode() {
        document.getElementById("result").style.display = "none";
        document.getElementById("informations").style.display = "none";
        html5QrcodeScanner.render(onScanSuccess);
    }

    function scanManualBarcode() {
        var manualBarcode = document.getElementById("manualBarcode").value;

        if (manualBarcode.trim() === "") {
            // Handle empty input, if needed
            alert("Please enter a barcode.");
            return;
        }

        // Call scanBarcode with the manually entered barcode as an argument
        onScanSuccess(manualBarcode, manualBarcode)
    }


    let html5QrcodeScanner = new Html5QrcodeScanner("reader", {fps: 10, qrbox: {width: 250, height: 250}}, false);


</script>
